<h2>Todos</h2>
<<<<<<< HEAD
<form action="/todos/search" method="get">
  <input type="text" name="task">
  <button>Search</button>
</form>
=======
<form action="/todos" method="get">
  <input type="string" name="task" >
  <button>Search</button>
</form>

>>>>>>> cf2d9404a05157db7ccd38ede1e79c67067ba956
<%= render @todos %>